{% extends "base.html" %}
{% block content %}
<div id = 'title'>
    <h2>{{ title }}</h2>
</div>

<div id = 'image'>
    <img src="{{ imUrl }}" alt="{{ title }}" />
</div>

<div id = 'book_info'>
    <h3>Description</h3>
    <p>{{ description }}</p>
    <br>
    <p><b>ASIN:</b> {{ asin }}</p>
    <br>
    {% if buy_after_viewing %}
    People also bought:
        <ul>
        {% for asin in buy_after_viewing %}
            <li><a href="{{ url_for('get_book', asin=asin) }}">
            {{ asin }}
            </a></li>
        {% endfor %}
        </ul>
</div>
{% endif %}
{% endblock %}