{% extends "book_base.html" %}
{% block content_right -%}
<div id="review">
  <h3><i>"{{ review.summary }}"</i></h3>
  <p class="text-justify">{{ review.reviewText }}</p>
</div>
<div id="review-info">
  <p><b>Rating:</b> {{ review.rating }}</p>
  <p><i>Reviewed by {{ review.reviewer }} on {{ review.timestamp }}.</i></p>
  {%- if review.helpfulness %}
  <p><b>{{ review.helpfulness[0] }}</b> out of <b>{{ review.helpfulness[1] }}</b> found this review helpful.</p>
  {%- endif %}
</div>
{%- endblock %}